.vscode

# Datasets
data/

# Large generated artifacts
profiler_export_trace.json
*.pt
*.pth
*.onnx
*.trace

# .so
*.so

# Build
build/
_build/
dist/
.coverage
.cache

# Python cache
__pycache__/
.pytest_cache/
*.egg-info/
